.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
*.map
*.o
*.a
*.elf
*.bin
*.hex

receiver/build/
receiver/bin/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

binary/
.vscode/
.idea/
.Old/
.DS_Store
Thumbs.db
*.vcmd
*.user

test/
*.log